* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul > li {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    padding: 10px;
    margin: 10px 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.todo_container {
    width: 25%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.todo {
    background-color: #282c34;
    color: wheat;
    margin: 10px;
    min-height: 60px;
    width: 100%;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: all .3s;
    padding: 10px;
    position: relative;

}

.todo:hover {
    box-shadow: rgb(0, 0, 255) 0 0 10px 1px;
    transition: all .3s;
}

.pagination {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-item {
    background-color: #282c34;
    border-radius: 3px;
    margin: 3px;
    position: relative;
}

.current-page {
    background-color: wheat;
}

.page-link {
    color: aliceblue;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.todo-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.todo-add > input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
}

.btn-edit{
    padding: 1px;
    margin: 0;
}

.marker {
    top: 15px;
    left: 15px;
    color: #00ff00;
    display: block;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
